@import "../assets/colors";
.country {
    width: 100%;
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: $text;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid $light-border;
}