@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}


.panel {
    display: flex;
    justify-content: space-between;

    
    &__column {
        width: 30%;
    }
}